@import '../../App.scss';

.projects-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-family: $font-2;

    }
    .projects-container{
        flex-direction: row;
        overflow: hidden;
        
    }
}