@import '../../App.scss';

.contact-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    .left-panel{
        display: flex;
        flex-direction: column;
        padding-right: 10%;
    }

    .contact-icons-list{
        display: flex;
        flex-direction: column;
        align-self: baseline;
        padding: 0.7rem;

        .contact-item{
            display: flex;
            flex-direction: row;
            a{
                &:hover{
                    cursor: pointer;
                }
            }
            p{
                &:hover{
                    cursor: pointer;
                    transition: $hover-transition-duration ease;
                    box-shadow: 0 0.1rem 0 0 $secondary-text-color;
                }
            }
        }
    }
}
