@import '../../App.scss';

nav{
    position:sticky;
    top:0;
    left: 0;
    width: 100%;
    height: 10dvh;
    min-height: 20px;
    min-width:max-content;
    margin: 0 auto;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
   
    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 80%;
        margin: 1.5rem;
        
    }

    li{
        display: flex;
        border-width: 3px;
        align-self: center;
    }

    a{
        white-space: nowrap;
        font-family: $font-2;
        &:hover{
            scale: 1.2;
        }

        @media (max-width:$screen-width-adapt) {
            display: none;
        }
    }

    .menu-button{
        display: none;
        @media (max-width: $screen-width-adapt) {
            display: flex;
        }
    }
}

